numpy<2
pandas
matplotlib
seaborn
scikit-learn
plotly
chart-studio
datapane
spotipy
python-dotenv
wordcloud
streamlit
scipy
os
Pillow
Joblib
streamlit-option-menu
streamlit-aggrid
streamlit-echarts
streamlit-lottie
requests
streamlit-chat
streamlit-extras
streamlit-tags
imageio
